server {
    server_name  www.octavaz.ir  octavaz.ir;
    listen 80;
    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /var/html/www/octavaz/static/;
    }
    location /media/ {
        alias /var/html/www/octavaz/media/;
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/octavaz.sock;
    }
}